{{!-- temporary cards to view on page --}}
<div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--2-col mdl-grid">
    {{!-- icon --}}   
    <i class="{{icon_data}} fa-6x"></i>  
    {{!-- card action --}}
    <div class="mdl-card__actions">
        {{!-- <button type="submit" class="edit-module-button" id="{{name}}" value="{{name}}"></button> --}}
        <a href="/languages/edit-module/{{name}}" class="mdl-button">{{name}}</a>
    </div>
</div>