<section class="header-section">
    <div class="page-header-banner">
        <div class="page-header-banner__title">
            <div class="mdl-typography--display-1 mdl-typography--font-thin">{{name}}</div>
        </div> 
    </div>
</section>
<section class="mdl-grid page-content">
    <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--9-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{name}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            {{description}}
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__subtitle-text">Major Organizations</h2>
        </div>
        <div class="mdl-card__supporting-text">
            {{major_organizations}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="{{website}}" target="_blank" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Website<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
        </div>
    </div>
    <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid mdl-cell--4-col-phone">
        <ul class='mdl-list'>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    Developed by: {{developed_by}}
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    Year Created: {{year_created}}
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    Version Number: {{version_number}}
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    Filename Extension: <span class="mdl-chip">
                        <span class="mdl-chip__text">{{filename_extension}}</span>
                    </span>
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    Licensed Under: {{licensed_under}}
                </span>
            </li>
        </ul>
    </div>
</section>