<section class="header-section">
    <div class="page-header-banner">
        <div class="page-header-banner__title">
            <div class="banner-text mdl-typography--display-2 mdl-typography--font-thin">Edit The <span>{{language.name}}</span> Language Module</div>
        </div> 
    </div>
</section>
<section class="page-content mdl-grid dashboard-content mdl-typography--text-center">
  <div class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
    <form class="edit-language-form">
      <div class="mdl-card__actions mdl-typography--font-light mdl-color-text--orange-A200">
        <div class="mdl-grid">
          {{!-- form questions --}}
          <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="name">Name Of Language: </label>
              <input class="mdl-textfield__input" type="text" id="name" placeholder="{{language.name}}" value="{{language.name}}"/>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="description">Description: </label>
              <input class="mdl-textfield__input" type="text" id="description" value="{{language.description}}"></input>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="organizations">Major Organizations: </label>
              <input class="mdl-textfield__input" type="text" id="organizations" value="{{language.major_organizations}}" multiple/>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="developer">Developed By: </label>
              <input class="mdl-textfield__input" type="text" id="developer" value="{{language.developed_by}}"/>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="year-reated">Year Created: </label>
              <input class="mdl-textfield__input" type="number" id="year-created" value="{{language.year_created}}"/>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="version">Version: </label>
              <input class="mdl-textfield__input" type="text" id="version" value="{{language.version_number}}"/>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="ext">File Name Extension: </label>
              <input class="mdl-textfield__input" type="text" id="ext" value="{{language.filename_extension}}"/>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="license-owner">Licensed Under: </label>
              <input class="mdl-textfield__input" type="text" id="license-owner" value="{{language.licensed_under}}"/>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="website">Website: </label>
              <input class="mdl-textfield__input" type="text" id="website" value="{{language.website}}"/>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="language-type">Language Type: </label>
              <input class="mdl-textfield__input" type="text" id="language-type" value="{{language.language_type}}"/>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <labelclass="mdl-textfield__label" for="icon-name">Icon Name: </label>
              <input class="mdl-textfield__input" type="text" id="icon-name" value="{{language.icon_data}}"/>
            </div>
          </div>
        </div>
        {{!-- button --}}
          <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">Submit</button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary" type="delete">Delete</button>
          </div>    
    </form>
    </div>
</section>
<script src="/javascript/edit-language-form.js"></script>